@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700&display-swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display-swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'be vietnam';
    overflow-x: hidden;
}

html{
    font-size: 10px;
}

body{
    background-color: white;
    overflow: hidden;
}

h1 {
    font-size: 43px;
    font-family: "Poppins", sans-serif;
}

span {
    font-family: "Poppins", sans-serif;
}


header {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    overflow-y: hidden;
    position: fixed;
}

.logo h1{
    font-size: 30px;
    color:#0011ff;
}

.navigation {
    transition: all 0.6s ease-out;
}

.navigation ul {
    display:flex;
}


.navigation ul li{
    list-style: none;
    margin-right: 24px;
}

.navigation ul li a{
    text-decoration: none;
    color:#0011ff;
    padding: 16px;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
    transition: all 1s;
}

nav ul li a:hover{
    opacity: 0.5;
}

.sticky{
    background-color: white;
    border-bottom: 1px solid #0011ff;
}

.navigation.active{
    left: 0;
} 

.hamburger{
    display: none;
}

.line{
    width: 40px;
    height: 7px;
    background:#0011ff;
    margin-bottom: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    header {
        padding: 0 70px;
        position: unset;
    }

    .navigation {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 55%;
        background-color: #0011ff;
    }

    .navigation ul{
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navigation ul li{
        width: 100%;
        text-align: center;
    }
    .navigation ul li a{
        font-size: 29px;
        display: block;
        color:  white;

    }

    .logo h1{
        margin-top: 10px;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        margin-top: 20px;
    }
}




.main-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 150px;
    margin-top: 150px;
    grid-gap: 150px;
}

.header_main_content_h1{
    font-size: 63px;
    color:#09128d;
}

.header_main_content_h1 span{
    color: #0e56f1;
}

.header-content button, form button {
    padding: 12px 35px;
    background-color: #0e56f1;
    border: none;
    color: white;
    outline: none;
    border-radius: 100px;
    transition: all 0.3s;
}

.cta {
    margin-top: 20px;
}


.cta:hover{
    opacity: 0.5;
}

.logo_socials {
    display: flex;
    flex-direction: column;
}

.logo_socials_soc {
    margin-top: 90px;
}

.logo_socials_soc svg {
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.logo_socials_soc svg path{
    transition: all 0.3s;
}


.logo_socials_soc svg:hover path{
    fill: #09128d;
}

@media only screen and (max-width: 900px) {
    .main-header{
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-left: 90px;
        grid-gap: 60px;
        text-align: center;
    }

    .header_main_content_h1{
        font-size: 43px;
    }

    .logo_social_soc {
        margin-top: 60px;
    }

     
}